<a href="https://colab.research.google.com/github/alinalatifah/KKA-X-Semester-1/blob/main/2_Tipe_Variabel_Alina_NL_X_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nama = Alina Nurul Latifah

Kelas = X - 11

No absen = 04

#Konsep dasar variabel

In [ ]:
print("alinanurul2803@gmail.com")
print("alinanurul2803@gmail.com")
print("alinanurul2803@gmail.com")

alinanurul2803@gmail.com
alinanurul2803@gmail.com
alinanurul2803@gmail.com

In [ ]:
email_user_1 = "alinanurul2803@gmail.com"

print(email_user_1)
print(email_user_1)
print(email_user_1)

alinanurul2803@gmail.com
alinanurul2803@gmail.com
alinanurul2803@gmail.com

#Peraturan penamaan variabel

In [ ]:
#Hanya diperbolehkan menggunakan huruf,angka,dan underscore
email user 2 ="bobbyaliando@gmail.com"
print(email user 2)

SyntaxError: invalid syntax (ipython-input-2004631798.py, line 2)

In [ ]:
emailuser2 = "bobbyaliando@gmail.com"

print(emailuser2)

bobbyaliando@gmail.com

In [ ]:
#tidak boleh didahului oleh angka
3_email_user = "willytaulany@gmail.com"

print(3_email_user)

SyntaxError: invalid decimal literal (ipython-input-2345391132.py, line 2)

In [ ]:
email_user_3 = "willytaulany@gmail.com"

print(email_user_3)

willytaulany@gmail.com

In [ ]:
#Tidak boleh menggunakan kata kunci python
for = "willytaulany@gmail.com

print(for)

SyntaxError: unterminated string literal (detected at line 2) (ipython-input-2676672535.py, line 2)

In [ ]:
For = "willytaulany@gmail.com"

print(For)

willytaulany@gmail.com

In [ ]:
print = "willytaulany@gmail.com"

print(print)

TypeError: 'str' object is not callable

In [ ]:
Print = "willytaulany@gmail.com"

print(Print)

willytaulany@gmail.com

In [ ]:
#Tidak error tapi dianjurkan harus deskriptif
_ = "willytaulany@gmail.com"

In [ ]:
print(_)

willytaulany@gmail.com

In [ ]:
_ = "willytaulany@gmail.com"

In [ ]:
print(_)

willytaulany@gmail.com

#Assignment

In [ ]:
#Single assigment
nama_mahasiswa_1 =  "Alexandrio"

print(nama_mahasiswa_1)

Alexandrio

In [ ]:
#Multiple Assignment

# nama_barang_1 = "rinso"
# nama_barang_2 = "molto"

nama_barang_1, nama_barang_2 = "rinso", "molto"
print(nama_barang_1)
print(nama_barang_2)

rinso
molto

In [ ]:
#Assignment yang sama
nilai_devandra = nilai_willy = nilai_dzakki = 100

print(nilai_devandra)
print(nilai_willy)
print(nilai_dzakki)

100
100
100

In [ ]:
# Menimpa/Mengubah Nilai Variable

nilai_himam = 95

In [ ]:
print(nilai_himam)

95

In [ ]:
nilai_himam = 100

In [ ]:
print(nilai_himam)

100

#Penggunaan Operator di Python

In [ ]:
#tanpa variabel
print(20 + 3)

23

In [ ]:
#operand disimpan kedalam variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

print(roti_swiss_alex + roti_swiss_nazril)

23

In [ ]:
#hasil operasi disimpan ke dalam variabel
jumlah_roti_swiss = 20+3

print(jumlah_roti_swiss)

23

In [ ]:
#operand dan hasil operasi disimpan ke variabel
roti_swiss_alex = 20
roti_swiss_nazril = 3

jumlah_roti_swiss = roti_swiss_alex + roti_swiss_nazril

print(jumlah_roti_swiss)

23

#Tugas

In [ ]:
print(24 * 3)

72

In [ ]:
total_jumlah_botol = 24*3

print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

print(banyak_botol_per_kardus * jumlah_kardus)

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

total_jumlah_botol = banyak_botol_per_kardus * jumlah_kardus

print(total_jumlah_botol)

#Operator Aritmatika

In [ ]:
buku_tulis_himam = 55
buku_tulis_vico = 15

In [ ]:
#Penjumlahan
total_buku_tulis = buku_tulis_himam + buku_tulis_vico
print(total_buku_tulis)

70

In [ ]:
#Pengurangan

selisih_buku_tulis = buku_tulis_himam - buku_tulis_vico
print(selisih_buku_tulis)

40

In [ ]:
#Perkalian
jumlah_kardus_buku_tulis = 3
isi_buku_tulis_perkardus = 10

total_buku_tulis = jumlah_kardus_buku_tulis * isi_buku_tulis_perkardus
print(total_buku_tulis)

In [ ]:
#Pembagian
jumlah_anak_yatim = 9

jumlah_buku_tulis_tiap_anak = total_buku_tulis / jumlah_anak_yatim
print(jumlah_buku_tulis_tiap_anak)

7.777777777777778

In [ ]:
#Pembagian bulat
jumlah_anak_yatim = 9

jumlah_buku_tulis_tiap_anak = total_buku_tulis // jumlah_anak_yatim
print(jumlah_buku_tulis_tiap_anak)

7

In [ ]:
#sisa bagi

sisa_buku_tulis = total_buku_tulis % jumlah_anak_yatim
print(sisa_buku_tulis)

7

#Operator Perbandingan

In [ ]:
print(6 >= 6)

True

In [ ]:
print(8 == 9)

False

In [ ]:
print(8 != 9)

True

In [ ]:
print(8 < 10)

True

In [ ]:
print(8 > 10)

False

#Operator Logika

In [ ]:
print(not(5 <= 5))

False

In [ ]:
print(8 > 7 and 6 < 5)

False

In [ ]:
print(7 <= 1 or 2 != 2)

False

In [ ]:
print(not(0 == 1 and 1 != 1))

True

In [ ]:
print(not(5 < 10 or 5 <= 10))

False